.MuiDiv_articleItem{
  box-shadow: 0 0 16px rgba(0,0,0,0.16);
}
.MuiGrid_articleItem_head{
  padding: 16px 32px;
}
.MuiTypography_articleItem_time{
  flex:0 0 200px;
}
.MuiGrid_articleItem_content{
  padding: 16px 32px;
  height: 1.7 * 6 em;
}